.error {
    
    color: red;
    
    font-size: 16px;
    display: none;
}

.error.error-active {
    display: flex;
}

.error_profile {
    color: red;
    font-size: 16px;
    display: none;
}

.error_profile.error-active {
    display: flex;
}